*.iml
*~
*.bak
.gradle
/local.properties
local.properties
.idea/
/.idea/
.artifacts/
.kotlin/
.DS_Store
/build
build/
*/build/
/captures
.externalNativeBuild
.cxx
node_modules/
ios/App/Pods/
ios/App/build/
android/.gradle/
android/build/
android/app/build/
